@import "../../colours";

.about-page {
    section {
        aside {
            display: flex;
            align-items: center;
            justify-content: center;
            justify-items: center;

            img {
                border-radius: 100%;
                max-width: 300px;
                max-height: 300px;
                transition: 300ms all ease-in-out;
            }
        }
    }
}