@import "../../colours";

#sideMenu {
    background: #212121;
    width: 80px;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 3;
    min-height: 500px;

    .logo {
        position: relative;
        text-decoration: none;
        font-weight: 900;
        font-size: 50px;
        padding: 8px 8px 25px;
        line-height: 1;
        color: $primary-color;
        background: #424242;

        span {
            &:first-child {
                color: $primary-color;
            }

            &:nth-child(2) {
                color: $secondary-color;
            }
        }

        small {
            position: absolute;
            bottom: 12px;
            left: 11px;
            color: white;
            font-size: 10.5px;
            font-weight: 600;
            text-transform: uppercase;
        }
    }

    nav {
        display: block;
        text-align: center;

        a {
            font-size: 20px;
            color: #909096;
            margin-bottom: 15px;
            display: block;
            line-height: 51px;
            height: 51px;
            position: relative;
            text-decoration: none;

            svg {
                opacity: 1;
                -webkit-transition: all .3s ease-out;
                transition: all .3s ease-out;
            }

            &:after {
                content: '';
                font-size: 11px;
                letter-spacing: 2px;
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                text-align: center;
                opacity: 0;
                -webkit-transition: all .3s ease-out;
                transition: all .3s ease-out;
            }

            &:first-child {

                &:after {
                    content: 'HOME';
                }

                & + a:after {
                    content: 'ABOUT';
                }

                & + a + a:after {
                    content: 'SKILLS';
                }

                & + a + a + a:after {
                    content: 'PORTFOLIO';
                }

                & + a + a + a + a:after {
                    content: 'CONTACT';
                }
            }

            &:hover {
                color: white;
                background: #383838;

                &:after {
                    opacity: 1;
                }

                svg {
                    opacity: 0;
                }
            }
        }
    }

    .social-media {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: inline-block;
            width: 50%;

            a {
                display: block;
                width: 100%;
                padding: 10px 0;
                color: white;
                font-size: 15px;
                text-align: center;

                &:hover {
                    background: #424242;
                }
            }
        }
    }
}
