main {
    position: absolute;
    margin: 0 0 0 80px;
    width: calc(100% - 80px);
    height: 100%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}