@import "../../colours";

.under-construction {
    display: block;
    text-align: center;
    color: $primary-color;
    //color: $secondary-color;

    svg {
        font-size: 600%;
        color: white;
        //color: $primary-color;
        margin-bottom: 30px;
    }
}